/* VARIABLES */
/* Colores */
/* No usar con fondo azul */
/* No usar formas pequeñas con fondo fucsia */
/* Fuentes */
/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Urbanist', sans-serif;
  color: #000000;
  width: 100%;
}
a {
  text-decoration: none;
}
/* HEADER */
header {
  background-image: url(https://images.unsplash.com/photo-1611245378682-a1cefebd294e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: none;
  background-position: center;
  min-height: 60rem;
}
header .menu-pc {
  background-color: #FF38C6;
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}
header .menu-pc .logo-header {
  background-color: #FFFFFF;
  width: 6.87rem;
  height: 6.87rem;
  margin-left: 3rem;
  border-radius: 50%;
  text-align-last: center;
  padding: 1.25rem;
}
header .menu-pc .logo-header img {
  width: 5rem;
  align-items: center;
  justify-content: center;
}
header .menu-pc .nav-menu {
  display: flex;
}
header .menu-pc .nav-menu li {
  list-style: none;
}
header .menu-pc .nav-menu li a {
  font-size: 1.56rem;
  margin: 1.25rem;
  color: #FFFFFF;
  transition: color 0.5s;
}
header .menu-pc .nav-menu li a:hover {
  color: #4D113C;
}
header .title-header {
  text-align: center;
  position: relative;
  top: 40rem;
}
header .title-header h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 5.62rem;
  color: #FFFFFF;
  letter-spacing: 4rem;
}
header .title-header p {
  font-family: 'Bowlby One SC', cursive;
  font-size: 1.87rem;
  color: #FF38C6;
  letter-spacing: 0.5rem;
}
/* MAIN */
main {
  /* Nuestra Historia */
  /* Rutas */
  /* Fotos */
}
main #main-nuestra-historia {
  position: relative;
  margin-top: 3.12rem;
  height: 56.25rem;
  min-width: 75rem;
}
main #main-nuestra-historia .fondo-nuestra-historia {
  background-color: #1A0BBF;
  width: 100%;
  height: 30rem;
  z-index: -1;
  position: absolute;
  top: 17.5rem;
}
main #main-nuestra-historia .fondo-nuestra-historia .nuestra-historia-leer {
  width: 40%;
  color: #FFFFFF;
  font-size: 1.25rem;
  text-align: center;
  margin: 8rem;
}
main #main-nuestra-historia .contenido {
  z-index: 2;
  display: flex;
  position: absolute;
}
main #main-nuestra-historia .contenido .texto-nuetra-historia {
  margin: 8rem;
  margin-top: 4rem;
  text-align: center;
}
main #main-nuestra-historia .contenido .texto-nuetra-historia h4 {
  font-size: 2.2rem;
  letter-spacing: 1rem;
}
main #main-nuestra-historia .contenido .texto-nuetra-historia h2 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 3.2rem;
  letter-spacing: 1rem;
}
main #main-nuestra-historia .contenido img {
  width: 37.5rem;
  position: relative;
  left: 5rem;
  margin-right: 3.125rem;
}
main #rutas .rutas-descripcion {
  width: 100%;
  text-align: center;
}
main #rutas .rutas-descripcion h2 {
  font-size: 3.2rem;
  letter-spacing: 1rem;
  font-family: 'Bowlby One SC', cursive;
  margin: 1.5rem;
  margin-top: 4rem;
}
main #rutas .rutas-descripcion p {
  font-size: 1.3rem;
}
main #rutas .contenedor-tabs {
  width: 90%;
  max-width: 270rem;
  padding: 2rem;
  margin: auto;
  border-radius: 1.25rem;
}
main #rutas .contenedor-tabs .listas-rutas {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
main #rutas .contenedor-tabs .listas-rutas .li {
  background-color: #FFFFFF;
  color: #4D113C;
  padding: 1rem;
  margin: 0 2rem 0 0;
  list-style: none;
  font-size: 1.2rem;
  transition: color 1s;
  border-radius: 1.25rem;
  transition: all 0.5s ease;
}
main #rutas .contenedor-tabs .listas-rutas .li:hover {
  color: #ACACAC;
}
main #rutas .contenedor-tabs .listas-rutas .activo {
  background-color: #000000;
  color: #FF38C6;
}
main #rutas .contenedor-tabs .subcontenedor-rutas {
  min-height: 50vh;
  background-color: rgba(243, 243, 243, 0.315);
  position: relative;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
}
main #rutas .contenedor-tabs .subcontenedor-rutas .bloque {
  margin: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  display: flex;
  opacity: 0;
  justify-content: space-around;
  transition: all 0.5s ease;
}
main #rutas .contenedor-tabs .subcontenedor-rutas .bloque p {
  width: 30%;
  padding: 1.875rem;
}
main #rutas .contenedor-tabs .subcontenedor-rutas .bloque img {
  width: 40%;
  border-radius: 2.5rem;
}
main #rutas .contenedor-tabs .subcontenedor-rutas .activo {
  opacity: 1;
}
main #fotos {
  text-align: center;
}
main #fotos h2 {
  font-size: 3.2rem;
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1rem;
  margin: 2rem;
  margin-top: 3rem;
}
main #fotos p {
  font-size: 1.25rem;
  margin: 2rem;
}
main #fotos .ul {
  width: 80%;
  background-color: rgba(243, 243, 243, 0.315);
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: auto;
}
main #fotos .ul .li {
  border-radius: 1.25rem;
  overflow: hidden;
}
main #fotos .ul .li a img {
  width: 18.75rem;
  transition: all 0.5s ease;
  transform: scale(2);
}
main #fotos .ul .li a img:hover {
  transform: scale(1.5);
}
main #fotos .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(207, 207, 207, 0.9);
  z-index: 100;
  display: none;
  /* grid */
  justify-content: center;
  align-items: center;
}
main #fotos .lightbox .cerrar {
  width: 5rem;
  height: 2rem;
  background: rgba(243, 243, 243, 0.733);
  margin: 1rem;
  transition: background-color 0.5s;
  margin: auto;
}
main #fotos .lightbox .cerrar:hover {
  background-color: #FF38C6;
  color: #4D113C;
}
main #fotos .lightbox .abrir {
  width: 80%;
  height: 80vh;
  background: lightcyan;
  margin: auto;
  border-radius: 1.25rem;
}
main #fotos .img-activo {
  display: grid;
}
