/* VARIABLES */

/* Colores */
@texto-oscuro: #000000; /* No usar con fondo azul */
@texto-claro:#FFFFFF; /* No usar formas pequeñas con fondo fucsia */
@texto-hover-azul:#ACACAC;  
@texto-hover-fucsia:#4D113C;
@fucsia: #FF38C6;  
@azul: #1A0BBF;

/* Fuentes */
@fuentes-tg: 'Bowlby One SC', cursive;
@fuentes-g: 'Urbanist', sans-serif;


/* ESTILOS GENERALES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: @fuentes-g;
    color: @texto-oscuro;
    width: 100%;
}

a{
    text-decoration: none;
}



/* HEADER */

header{
    background-image: url(https://images.unsplash.com/photo-1611245378682-a1cefebd294e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-repeat: none;
    background-position: center;
    min-height: 60rem;
    

    .menu-pc{
        background-color: @fucsia;
        height: 7.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 99;

        .logo-header{
            background-color: @texto-claro;
            width: 6.87rem;
            height: 6.87rem;
            margin-left: 3rem;
            border-radius: 50%;
            text-align-last: center;
            padding: 1.25rem;
            

            img{
                width: 5rem;
                align-items: center;
                justify-content: center;
                
            }
        }
       

        .nav-menu{
            display: flex;
            li{
                list-style: none;

                a{
                    font-size: 1.56rem;
                    margin: 1.25rem;
                    color: @texto-claro;
                    transition: color 0.5s;

                    &:hover{
                        color: @texto-hover-fucsia;
                    }
                }
            }
        }
    }

    .title-header{
        text-align: center;
        position: relative;
        top: 40rem;

        h1{
            font-family: @fuentes-tg;
            font-size: 5.62rem;
            color: @texto-claro;
            letter-spacing: 4rem;
        }
        p{
            font-family: @fuentes-tg;
            font-size: 1.87rem;
            color: @fucsia;
            letter-spacing: 0.5rem;
        }
    }
}

/* MAIN */

main{
    
    /* Nuestra Historia */
    #main-nuestra-historia{
        position: relative;
        margin-top: 3.12rem;
        height: 56.25rem;
        min-width: 75rem;

        .fondo-nuestra-historia{
            background-color: @azul;
            width: 100%;
            height: 30rem;
            z-index: -1;
            position: absolute;
            top: 17.5rem;

            .nuestra-historia-leer{
                width: 40%;
                color: @texto-claro;
                font-size: 1.25rem;
                text-align: center;
                margin: 8rem;
            }
        }

        .contenido{
            z-index: 2;
            display: flex;
            position: absolute;
            .texto-nuetra-historia{
                margin: 8rem;
                margin-top: 4rem;
                text-align: center;
                h4{
                    font-size: 2.2rem;
                    letter-spacing: 1rem;
                }
                h2{
                    font-family: @fuentes-tg;
                    font-size: 3.2rem;
                    letter-spacing: 1rem;
                }
            }
            img{
                width: 37.5rem;
                position: relative;
                left: 5rem;
                margin-right: 3.125rem;
            }
        }

    
    }

    /* Rutas */
    #rutas{
        .rutas-descripcion{
            width: 100%;
            text-align: center;
            h2{
                font-size: 3.2rem;
                letter-spacing: 1rem;
                font-family: @fuentes-tg;
                margin: 1.5rem;
                margin-top: 4rem;
            }
            p{
                font-size: 1.3rem;
            }
        }

        .contenedor-tabs{
            width: 90%;
            max-width: 270rem;
            padding: 2rem;
            margin: auto;
            border-radius: 1.25rem;

            .listas-rutas{
                width: 100%;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                margin: 1rem;
            
                .li{
                    background-color: @texto-claro;
                    color: @texto-hover-fucsia;
                    padding: 1rem;
                    margin: 0 2rem 0 0;
                    list-style: none;
                    font-size: 1.2rem;
                    transition: color 1s;
                    border-radius: 1.25rem;
                    transition: all .5s ease;

                    
                
                    &:hover{
                        color: @texto-hover-azul;
                    } 
                }
                .activo{
                    background-color: @texto-oscuro;
                    color: @fucsia;
                }
            }
            .subcontenedor-rutas{
                min-height: 50vh;
                background-color: rgba(243, 243, 243, 0.315);
                position: relative;
                box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
                border-radius: 1.25rem;

                .bloque{
                    margin: 0.5rem;
                    padding: 0.5rem;
                    position: absolute;
                    top: 0;
                    display: flex;
                    opacity: 0;
                    justify-content: space-around;
                    transition: all .5s ease;

                    p{
                        width: 30%;
                        padding: 1.875rem;
                    }
                    img{
                        width: 40%;
                        border-radius: 2.5rem;
                    }

                }

                .activo{
                    opacity: 1;
                }
            }
        }
    }
    
    /* Fotos */
    #fotos{

        text-align: center;
        h2{
            font-size: 3.2rem;
            font-family: @fuentes-tg;
            letter-spacing: 1rem;
            margin: 2rem;
            margin-top: 3rem;
        }

        p{
            font-size: 1.25rem;
            margin: 2rem;
        }
        .ul{
            width: 80%;
            background-color: rgba(243, 243, 243, 0.315);
                box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
                border-radius: 1.25rem;

            padding: 2rem;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            margin: auto;


            .li{
                border-radius: 1.25rem;
                overflow: hidden;
                a{
                  img{
                    width: 18.75rem;
                    transition: all .5s ease;
                    transform: scale(2);
                    

                    &:hover{
                        transform: scale(1.5);          
                    }
                }  
                }
            }
            

        }

        .lightbox{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(207, 207, 207, 0.9);
            z-index: 100;

            display: none; /* grid */
            justify-content: center;
            align-items: center;

           

            .cerrar{
                width: 5rem;
                height: 2rem;
                background: rgba(243, 243, 243, 0.733);
                margin: 1rem;
                transition: background-color .5s;
                margin: auto;

                &:hover{
                    background-color: @fucsia;
                    color: @texto-hover-fucsia;
                }
                
            }
            .abrir{
                width: 80%;
                height: 80vh;
                background: lightcyan;
                margin: auto;
                border-radius: 1.25rem;

            }
        }

        .img-activo{
            display: grid;
        }

    }

    /* Escribinos */
    #escribinos{
        min-height: 30rem;
        margin-bottom: 5rem;
        h2{
            font-family: @fuentes-tg;
            font-size: 3.2rem;
            letter-spacing: 1rem;
            margin: 2rem;
            margin-top: 6rem;
            text-align: center;
        }
        .formulario{
            margin: auto;
            width: 30%;
            background-color: rgba(243, 243, 243, 0.315);
            box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
            border-radius: 1.25rem;
            max-width: 40.625rem;
            padding: 20px;

            div{
                font-size: 1.25rem;
                width: 30rem;
                display: flex;
                flex-direction: column;
                margin: 0.9375rem auto; 

                .inputs-form{
                    input[type="text"],
                    input[type="email"],
                    textarea{
                        font-size: 1.5rem;
                        background: none;
                        border: none;
                        outline: none;
                        border-bottom: 2px solid fade(@fucsia, 50%);

                        &:focus{
                            border-bottom: 2px solid @fucsia;
                        }
                    }
                }

                textarea{
                    max-width: 100%;
                    max-height: 10.25rem;
                    min-height: 5.125rem;
                    min-width: 100%;
                }

                label{
                    letter-spacing: .3rem;

                    &.label{
                        transition: all .3s ease;

                        &.activo{
                            font-size: 0.75rem;
                            line-height: 2rem;
                            color: @texto-hover-fucsia;
                        }
                    }
                }
            }

            input[type="submit"]{
                font-family: @fuentes-g;
                font-size: 1.25rem;
                width: 150px;
                margin: auto;
                background-color: @azul;
                color: @texto-claro;
                margin-bottom: 15px;
                
                
                
                transform: all .3s ease;

                &:hover{
                    background: darken(@texto-oscuro, 10%);
                    color: @fucsia;
                }
            }
        }
    }
} 

/* FOOTER */
footer{
    background-color: @azul;
    color: @texto-claro;
    padding-top: 1rem;

    h2{
        font-family: @fuentes-tg;
        font-size: 3rem;
        letter-spacing: 1.25rem;
        text-align: center;
        
    }

    .contenido-footer{
        display: flex;
        justify-content: space-around;

        .p{
            font-size: 1.25rem;
            margin: 1.5rem;
            p{
                margin-bottom: 0.5rem;
            }
        }
    
        .redes{
            display: flex;
            margin: 1.5rem;
            .li-footer{
                list-style: none;
                margin-left: 1rem;
                .rs{
                    width: 4.375rem;
                }
            }
            
        }
    }
    
}
